body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #3b3b3b; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.paragraph{
  font-size: 14px;
  padding-left: 30px;
  padding-top: 6px;
  color: grey;
  font-weight: 100;
 }
 
 .line
 {
   display: flex;
   flex-direction: row;
 }
 
 .inline
 {
   display: flex;
   flex-direction: row;
 }
 
 .text{
   font-size: 18px;
   padding-top: 6px;
 }
 
 * > * {
   font-family: 'Poppins', sans-serif;
 }
 
 .grid > div{
   text-align: center;
   font-size: 1.4em;
   padding: 1em 2em;
 }
